@inherits LayoutComponentBase
@inject IHistoryService HistoryService

<PageTitle>Bromix.Blazor.BrowserAPI.Example</PageTitle>

<div class="page">
    <div class="sidebar">
        <button class="btn btn-primary" @onclick="HistoryBack">Back</button>
        <button class="btn btn-primary" @onclick="HistoryForward">Forward</button>
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private async Task HistoryBack()
    {
        await HistoryService.Back();
    }

    private async Task HistoryForward()
    {
        await HistoryService.Forward();
    }

}